
header, a, img, li{
transition: all 1s;
-moz-transition: all 1s; /* Firefox 4 */
-webkit-transition: all 1s; /* Safari and Chrome */
-o-transition: all 1s; /* Opera */
}
a{text-decoration:none; color:#06C;}
body{background:url(../gambar/bg2.png) fixed center no-repeat; font-family:Calibri;}
ul{list-style-type: none;float: right; margin-right:25px;}
li{display: inline;float: left; font-size:12px;}
img.logo{float: left; margin-top:10px;}
nav{width: 960px;margin: 0 auto;}
section.stretch{float: left;width: 100%;background:url(../gambar/bg.png) fixed repeat;}
.main{width:960px;margin-left:auto;margin-right:auto;margin-top: 250px;margin-bottom:10px;}
.main-branda{width:940px;border:1px solid #f90;padding:10px; float:left;}
.main-side{width:150px;border-top:1px solid #f90;border-left:1px solid #f90;border-bottom:1px solid #f90;padding:10px; float:left; margin-bottom:10px;}
.main-content{width:767px;border:1px solid #f90;padding:10px; float:left; margin-bottom:10px;}
header{background: #06c;border-bottom: 1px solid #f90;float: left;width: 100%;position: fixed;z-index: 10;}
header a{color: #fff; margin-right:2px;text-decoration: none;text-transform: uppercase; background:#09C; height:40px; padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px;}
header a.active, header a:hover{color: #f90; background:#039}
header li{margin-right:0px;}
header.large{height: 200px;}
header.large img{width: 427px;height: 150px; margin-left:10px;}
header.large li{margin-top: 90px;}
header.small{ height: 50px; }
header.small img{ width: 210px; height: 69px; margin-top: -15px; margin-left:10px; }
header.small li{ margin-top: 19px; }
.form-judul{padding:10px;width:97.4%; margin-bottom:10px;}
.tombol-simpan{padding:10px;border:none;background:#0C0;color:#FFF; cursor:pointer; margin-top:10px;}
.tombol-simpan:hover{background:#090;}
.tombol-simpan2{padding:10px;border:none;background:#0C0;color:#FFF; cursor:pointer; margin-top:10px; text-align:center; width:150px; margin-bottom:20px;}
.tombol-simpan2:hover{background:#090;}
.select{ width:150px; height:40px; padding:5px; cursor:pointer; margin-bottom:10px; }
.branda-side{width:350px; margin:5px; float:left;}
.branda-side2{width:275px; margin:5px; float:left;}
.judul-branda{font-size:22px; margin-top:10px; margin-bottom:10px; color:#f90; text-align:center; border-bottom:solid 2px #CC0099; padding:10px;}
.pengumuman-list{width:265px; padding:5px; text-decoration:none; margin-bottom:10px; float:left;}
a .pengumuman-list{text-decoration:none; }
a:hover .pengumuman-list{background:#CCC;}
.nomer{padding:10px; background:#C90; float:left; color:#FFF; margin-right:5px;}
.k-nomer{padding:10px; background:#06F; float:left; color:#FFF; margin-right:5px; font-size:13px; width:50px; text-align:center}
.b-nomer{padding:5px;;font-size:10px;}
.judul-berita{font-size:18px; color:#C90; margin-bottom:5px; text-transform:capitalize;}
.berita-isi{margin-bottom:10px; border-bottom:1px dotted #CCCCCC; padding:5px; float:left; width:340px;}
a:hover .berita-isi{border-bottom:1px dotted #000000;}
.img_detail{float:left; margin-right:5px; border:2px #FFFFFF solid;}
.tbl{background:#0CC;padding:5px;text-align:center;color:#FFF;}
.thl{height:35px;}
.lebar-table1{width:100%; border-collapse:separate;}
.lebar-table1 tr:hover{background:#CCF;}
.form_isi{width:400px;height:30px;padding:5px;}
.table-gaya{border:1px solid #CCC;border-collapse:collapse;width:100%;margin-bottom:10px;}
.table-gaya td{padding:5px;}
.table-gaya tr{
	-webkit-transition: background 0.8s, box-shadow 0.5s;
		-moz-transition: background 0.8s, box-shadow 0.5s;
		transition: background 0.8s, box-shadow 0.5s; }
.table-gaya tr:hover{background:#0c6; color:#FFF;}
.select{ width:150px; height:40px; padding:5px; cursor:pointer; }
.h_p{margin-bottom:10px; margin-top:5px; color:#777; font-size:28px; width:100%; }
.pesan-error{padding:10px;background:#09F;color:#FFF; margin-left:auto; margin-right:auto; font-size:18px; font-weight:bold;}
.tbl_s_k{width:500px;}
.tr_s_k{height:50px; padding:10px;text-align:center;}
.tabel-raport{width:100%; border:1px solid #000; border-collapse:collapse;}
.tabel-raport tr{border:1px solid #000; height:40px;}
.tabel-raport td{padding:10px;}
.tmb_kelas_siswa{ padding:40px; color:#FFF; background:#03F; font-size:18px; font-weight:bold; float:left; margin:5px; text-align:center; width:105px; }
a:hover .tmb_kelas_siswa{background:#03C; color:#CCC; }