/*slide2*/
/* Slider */

#tuts-slider{
	margin:0px;
	padding:0px;
	margin:auto;
	position: relative;  
	float:left;
}
#tuts-slider .bjqs{ 
	margin:0px;
	padding:0px;
	position: absolute; 
	height: 340px;
	overflow: hidden;
}
#tuts-slider ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#tuts-slider .bjqs li{
	border-top:none;
	margin:0px;
	padding:0px;
	float: left;
}
#tuts-slider .bjqs-controls {
	margin:0px;
	padding:0px;
	position:absolute;
	top:10px;
	left:-5px;
	border:1px solid #ddd;
}
#tuts-slider .bjqs-controls:before{
	content:"";
	width:4px;
	height:4px;	
	position: absolute;
	bottom:-5px;
	left:0;
	margin:0px;
	padding:0px;
}
#tuts-slider .bjqs-controls li{
	border-top:none;
	margin:0px;
	padding:0px;
}
#tuts-slider .bjqs-controls li:first-child{
	border-bottom:1px solid #ddd;
	margin:0px;
	padding:0px;
}
#tuts-slider .bjqs-controls li a{
	padding:5px;
	text-decoration:none;
	background:#06c;
	display: block;
	color:#FFF;	
	font:normal 12px arial;
}
#tuts-slider .bjqs-controls li a:hover{
	text-decoration: none;
	background:#069;
}
#tuts-slider img{
	height: 340px; width: 660px; float: left; position: relative; 
}   
#tuts-slider tulisan{
	height: 50px; width: 660px; float: left; position: relative; background:#666; color:#FFF; position:absolute;
}   