body{
	background:url(../gambar/bglogin2.jpg) no-repeat top center fixed; font-family:Calibri;
}
a{
	color:#fff;
	text-decoration:none;
}
.main{
	width:980px;
	margin:50px auto;
	background:#039;
}
.sidebar{
	width:310px;
	float:left;
}
.content{
	width:670px;
	float:left;
}

.head_left{
	width:310px;
	height:350px;
	background:url(../gambar/bgdetail.png) repeat ;
	float:left;
}
.side_left{
	width:310px;
	float:left;
	margin-top:5px;
}
	
.head_left_isi{
	width:300px;
	height:340px;
	margin:5px;
	background:#0F0 url(../gambar/logo.png) no-repeat center;
	float:left;
	opacity:0.9;
}
a:hover .head_left_isi{
	background:#0F0 url(../gambar/logo.png) no-repeat center;
	opacity:1.0;
}
.head_right{
	width:670px;
	height:350px;
	background:url(../gambar/bgdetail.png) repeat;
	float:left;
}
.head_right_isi{
	width:660px;
	height:340px;
	margin:5px;
	float:left;
}
.content_right{
	width:670px;
	float:left;
	margin-top:5px;
}
.judul_detail_berita{font-size:14px;margin-top:10px; text-transform:capitalize;}
.tgl{color:#CFF; font-weight:bold; font-size:12px; margin-left:4px; float:left; background:#f90; padding:5px; width:165px; margin-bottom:5px;}
.hari{
	background:#999;
}
#detail_info{
	width:640px;
	padding:10px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	float:left;
	background:url(../gambar/bgdetail.png) repeat;
}

.judul_content_2{background:#06c url(../gambar/tmb_button.png) no-repeat;height:20px;color:#FFF;padding-left:30px;padding-top:5px;padding-bottom:5px;margin:5px;}
.judul_content_3{font-size:30px; margin-bottom:5px;margin-left:5px; text-transform:capitalize;}

.pagination{height:20px;color:#FFF;margin:5px; clear:both; float:left; width:670px; }
.pagination a{
	padding:5px;
	float:left;
	display:inline;
	background:#09C;
	margin-right:5px;
}
.pagination a:hover{
	background:#FFCC33;
}
a#active{
		background-color: #FFCC33;
	}
.tomb_umum{
	width:145px;
	height:145px;
	margin:5px;
	float:left;
	background:#F00;
}
.berita_utama{
	width:370px;
	float:left;
}
.berita_utama_isi{
	width:340px;
	float:left;
	padding:10px;
	margin:5px;
	background:#27c907;
	opacity:0.9;
}
a:hover .berita_utama_isi{opacity:1.0;}
.img_detail{margin-right:5px;float:left;border:1px #FFFFFF solid;}
.ayat_hari_ini{
	width:360px;
	float:left;
	margin:5px;
	height:40px;
	background:#27c907;
}
.ayat_hari_ini_isi{width:220px;padding:10px;background:#27c907;color:#FFF;float:left;height:20px;}
.judul_ayat{width:100px;padding:10px;background:url(../gambar/ayat.png) no-repeat;float:left;height:20px; color:#FFF;}

.sidebar_right{
	width:300px;
	float:left;
}
.sidebar_right_isi{
	width:290px;
	margin:5px;
	float:left;
}
.maps{
	width:660px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	float:left;
	padding:0px;
	background:#666;
}
.judul_side{width:270px;height:16px;padding:10px;float:left;color:#FFF;background:#939 url(../gambar/speaker.png) right no-repeat;border-bottom:1px solid #FFF;}
a:hover .judul_side{background:#909 url(../gambar/speaker.png) right no-repeat;}
.right_side_isi{width:270px;padding-left:10px;padding-right:10px;padding-bottom:10px;padding-top:5px;float:left;color:#FFF;background:#939;}
.right_side_isi li{list-style:none;text-align:left;font-size:14px;padding:2px;	}

.right_side_isi a:hover li{background:#909;}

.footer{
	width:980px;
	height:40px;
	float:left;
	clear:both;
	background:url(../gambar/bgdetail.png) repeat;
	margin-top:5px;
	margin-bottom:5px;
	color:#F90;
}
#footer_left{
	float:left;height:16px; padding:12px; color:#00C; font-size:12px;}
	
#footer_right{float:right; width:260px; height:40px;}

.cari_form{height:20px;padding:5px; width:200px; border:none; border-radius:0px; margin-left:5px;background:inherit; color:#039;}
.tmb_cari{ height:40px; border:none; width:40px; cursor:pointer;background:url(../gambar/bgdetail.png) repeat;color:#939;}	
.tombol_umum{width:157px;height:140px;margin:5px;float:left;opacity:0.9;}
a:hover .tombol_umum{opacity:1.0;}
.kata-tombol-umum{ position:absolute; float:left; margin:0px; padding:5px;
background:url(../gambar/bg-foot.png) repeat; width:147px;}
	

.tombol_foot{height:16px;padding:12px;float:left;color:#00C;font-size:12px;}
a:hover .tombol_foot{ ;background:url(../gambar/bgdetail.png) repeat }
.tombol_foot2{height:16px;padding:12px;float:left;color:#00C;font-size:12px;}
a:hover .tombol_foot2{ ;background:url(../gambar/bgdetail.png) repeat }

.bottom-news{clear:both;position:fixed;width:100%;height:20px;top:0;left:0;
	margin:0px;
	padding:10px;
	text-align:center;
	background:url(../gambar/bg-foot.png) repeat;
	color:#FFF;
	font-family:"Colonna MT";
}
.orange-color{color:#FC3;}

.bottom-news img{margin:0px auto; height:20px; width:20px; position:absolute;}
/*warna dasa */
.ungu{background-color:#939;}
.orange{background-color:#F90;}
.biru{background-color:#06C;}
.hijau{background-color:#0C0;}
.bggambar{background:url(../gambar/bgumum.png) repeat;}
.gbr-peng{text-align:center; margin-left:auto; margin-right:auto; width:500px; height:600px;}
