/*news ticker */
#newsticker-demo { 
width:290px;  
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:0px;
color:#FFF;
}

#newsticker-demo a { text-decoration:none; color:#FFF; }

#newsticker-demo .title {
text-align:left;
font-size:14px;
padding:10px;
border-bottom:1px #fff solid;
background:url(../gambar/agenda2.png) right no-repeat #06c;
}

#newsticker-demo a:hover .title {background:#06c url(../gambar/agenda2.png) right no-repeat;}

.newsticker-jcarousellite { width:290px;  background:#06c; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; padding-left:0px;  margin-top:5px;  background:#f90; }
.newsticker-jcarousellite .thumbnail { float:left; width:60px; height:60px;padding-left:10px; padding-bottom:10px;padding-top:10px;}
.newsticker-jcarousellite .info { float:left; width:190px; padding:5px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:9px; color:#000000; margin-bottom:5px; }

.clear { clear: both; }
