
ul, ul ul {margin: 0;padding: 0;list-style: none;}
#wrapper {	width: 250px;margin:0;font-size: 0.8125em;}
.menu {width: auto;height: auto;}
.menu > li > a {width: 100%;height: 2.75em;line-height: 2.75em;text-indent: 2.75em;display: block;position: relative;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: 600;color: #fff;}
.menu ul li a {background: #FC0;border-bottom: 1px solid #Fc0;width: 100%;height: 2.75em;line-height: 2.75em;text-indent: 2.75em;display: block;position: relative;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 0.923em;font-weight: 400;color: #FFFFFF;}
.menu ul li:last-child a {border-bottom: 1px solid #F63;}
.menu > li > a:hover, .menu > li > a.active {background-color: #F90;}
.menu > li > a.active {border-bottom: 1px solid #f90;}
.menu > li > a:before {content: '';background-image:url(../gambar/sprite2.png);background-repeat: no-repeat;font-size: 36px;height: 1em;width: 1em;position: absolute;left: 0;top: 50%;margin: -.5em 0 0 0;}
.item1 > a:before {background-position: 0 0;}
.item2 > a:before {background-position: -38px 0;}
.item3 > a:before {background-position: 0 -38px;}
.item4 > a:before {background-position: -38px -38px;}
.item5 > a:before {background-position: -76px 0;}
.item6 > a:before {background-position: -76px -38px;}
.item7 > a:before {background-position: 0px -76px;}
.item8 > a:before {background-position: -38px -76px;}
.item9 > a:before {background-position: -76px -76px;}
.item10 > a:before {background-position: -0px -114px;}
.item11 > a:before {background-position: -38px -114px;}
.item12 > a:before {background-position: -76px -114px;}
.item13 > a:before {background-position: -114px 0px;}
.item14 > a:before {background-position: -114px -38px;}
.menu > li > ul li a:before{content: '▶';font-size: 8px;color: #bcbcbf;position: absolute;width: 1em;height: 1em;top: 0;left: -2.7em;}
.menu > li > ul li:hover a,
.menu > li > ul li:hover a:before {color: #32373D;}



