a{
	text-decoration:none; color:#FFF; }
a:hover{ color:#03C; }
.login{
	width:330px;
	height:500px;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
	border:5px solid #FC6;
	background:url(../gambar/bgform.png) repeat;
	box-shadow:5px 3px 10px #333333;
}
.head-login{
	width:300px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	height:50px;
	background:url(../gambar/bg-head.png) no-repeat center top;
}
.head-reg{
	width:300px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto; 
	margin-bottom:5px;
	height:50px;
	background:url(../gambar/bgreg.png) no-repeat center top;
}
.screen-login{
	width:280px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	height:200px;
	border:1px solid #fff;
	color:#fff;
	font-weight:bold;
	background:url(../gambar/bgform.png) repeat;
	
}
.screen-reg{
	width:280px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	height:110px;
	border:1px solid #fff;
	color:#fff;
	background:url(../gambar/bgformbiru.png) repeat;
	
}
.screen-login img{
	margin:auto;
	width:280px;
	float:left;
	opacity:0.9;
}
.screen-pesan{
	float:left;
	width:260px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	margin:5px;
}
.menu-login{
	width:310px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.footer-login{
	width:290px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}
.form-login{
	width:280px;
	padding:10px;
	border:none;
	text-align:center;
}
.tombol-login{
	cursor:pointer;
	width:147px;
	padding:10px;
	background:#F60;
	border:2px solid #FC3;
	color:#fff;
}
.tombol-login:hover{
	background:#FC6;
}
.bglogin{
	background:url(../gambar/bg.jpg) no-repeat fixed center top;
	font-family:Calibri;
}