body{padding:0px;font-family:Calibri;}

a{color:#039;text-decoration:none;}
.header{width:100%;height:60px;padding:10px;border-bottom:2px solid #06c;margin-left:0px;margin-right:0px;position:fixed;float:left;left: 0;right: 0;top:0;background:#f6fbf1;}
.header img{
	float:left;
}
.side-menu-kiri{width:250px;background:#FC0;color:#fff;float:left;top:82px;left:0;position:fixed; height:100%;
}
.dala-menu-kiri{width:250px;background:#F60;color:#fff;float:left;left:0; height:100%;
}
a .sub-menu-kiri{width:230px;padding:10px;height:20px;float:left;
}
a:hover .sub-menu-kiri{background:#06C url(../gambar/tmb_button.png) no-repeat right;border:1px #069 solid;
}
.footer-menu-kiri{ font-size:12px;width:230px;padding:10px;height:10%;float:left; clear:both; background:url(../gambar/bg-foot.png) repeat; position:fixed; top:90%; text-align:center;}

.content-kanan{width:75%;margin-left:270px;float:left;margin-top:100px;right: 0; border:1px solid #06c;padding:10px;
}

.tmb_kelas_siswa{ padding:40px; color:#FFF; background:#03F; font-size:18px; font-weight:bold; float:left; margin:5px; text-align:center; width:105px; }
a:hover .tmb_kelas_siswa{background:#03C; color:#CCC; }
.form-judul{padding:10px;width:97.4%;}
.tombol-simpan{padding:10px;border:none;background:#0C0;color:#FFF; cursor:pointer;}
.tombol-simpan:hover{background:#090;}
.tombol-aksi-top{padding:10px;float:left;background:#FC0;color:#FFF;font-weight:bold;margin-bottom:10px; margin-right:10px;}
a:hover .tombol-aksi-top{background:#FC6;}
.tombol-aksi-top-b{padding:10px;float:left;background:#0CC;color:#FFF;font-weight:bold;margin-bottom:10px; margin-right:10px;}
a:hover .tombol-aksi-top-b{background:#09C;}
.tombol-aksi-top-p{padding:10px;float:left;background:#F36;color:#FFF;font-weight:bold;margin-bottom:10px; margin-right:10px;}
a:hover .tombol-aksi-top-p{background:#F06;}
.pesan-error{padding:10px;background:#09F;color:#FFF; margin-left:auto; margin-right:auto; font-size:18px; font-weight:bold;}
.pesan-error2{padding:10px;background:#F00;color:#FFF; margin-left:auto; margin-right:auto; font-size:18px; font-weight:bold;}
.pilih-gambar{ background:#09C;color:#FFF;padding:5px;cursor:pointer;}
.alert{color:#F00;}
.jdl_pengumuman{width:300px; padding:5px; }
.gbr_pengumuman{padding:5px; background:#F39; cursor:pointer;}
.tbl{background:#0CC;padding:5px;text-align:center;color:#FFF;}
.thl{height:35px;}
.tbl2{background:#039;padding:5px;text-align:center;color:#FFF;}
.lebar-table1{width:100%; border-collapse:separate;}
.tombol-aksi{height:30px;width:60px;text-align:center;background:#0C6;padding-top:10px;margin:auto;}
a:hover .tombol-aksi{background:#0C9;}
.tombol-pengumuman{background:#F69; font-size:18px; color:#FFF; font-weight:bold;padding:40px; text-align:center; width:105px; float:left; margin:5px; }
a:hover .tombol-pengumuman{background:#F06;}
.rata-tengah{text-align:center;}
.pagination{margin-top:10px;height:45px;}
.pagination a{background:#06C;margin-top:5px;margin-right:5px;color:#FFF;padding:5px;}
a#active{background-color: #FFCC33;}
.pagination a:hover{background:#FFCC33;}
.li-class{list-style:url(../gambar/bullet.png);padding-left: 5px;padding-top: 2px;padding-bottom: 2px; margin-left:30px;}
.judul-branda-awal{padding:10px;margin-bottom:10px;color:#FFF;background:#06C;text-align:left; font-size:28px;}
b{
	color:#F90;
}
.h_p{margin-bottom:10px; margin-top:5px; color:#777; font-size:25px; width:100%; }
.head-kanan{float:right; width:200px; margin-right:10px; font-weight:bold; margin-top:20px; }
.head-kanan img{margin-right:10px; width:20px; height:20px;}
.head-kanan a{color:#999;}
.head-kanan a:hover{background:#06C;width:200px; padding:12px;color:#FFF;}
.head_out{float:right; width:100px; margin-right:10px; margin-top:10px;}
.head_cari{float:left; width:300px; margin-right:auto; margin-top:15px; margin-left:250px;}
.admin_hal{width:400px; float:left; margin-right:10px;}
.form-cari{width:290px; padding:5px; border:#06C 1px solid;}
.jdwl-frm{padding:10px; background:#039; color:#FFF; border:none; text-align:center; cursor:pointer;}
.jdwl-frm:hover{background:#009;}
.jdwl-btn{padding:10px; background:#C00; color:#FFF; border:none; cursor:pointer; }
.jdwl-btn:hover{background:#F03;}
.nilai-frm{padding:10px; width:40px;}
.form_isi{width:400px;height:30px;padding:5px;}
.table-gaya{border:1px solid #CCC;border-collapse:collapse;width:100%;margin-bottom:10px;}
.table-gaya td{padding:5px;}
.table-gaya tr{-webkit-transition: background 0.8s, box-shadow 0.5s;-moz-transition: background 0.8s, box-shadow 0.5s;transition: background 0.8s, box-shadow 0.5s; }
.table-gaya tr:hover{background:#0c6; color:#FFF;}
.select{ width:150px; height:40px; padding:5px; cursor:pointer; }
.select-tgl{width:180px; height:30px; padding:5px; cursor:pointer; background:#090; border:none; color:#FFF; font-weight:bold; text-align:center; border-radius:4px; font-size:14px;}
.tabel-raport{width:100%; border:1px solid #000; border-collapse:collapse;}
.tabel-raport tr{border:1px solid #000; height:40px;}
.tabel-raport td{padding:10px;}